<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCartPractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <ul>
        <li> <%= link_to "#{current_order.order_items.size} items in cart. Price: #{current_order.subtotal}", carts_path  %></li>

      </ul>
    </div>
    <%= yield %>
  </body>
</html>
